ul {
    list-style: none;
}

li{
    padding: 1rem;
    border: 1px solid rgb(187, 187, 187);
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

li:hover{
    filter: brightness(0.6);
    cursor: pointer;
}

input.search{
    margin-top: 1rem;
    width: 300px;
    border-radius: 0.25rem;
    outline: none;
    padding-left: 5px;
}

input::placeholder{
    font-style: italic;
    padding-left: 2px;
}